/* GENERAL STYLES */
body {
  height: 100%;
  position: relative;
}
.jumbotron {
  background-color: transparent;
  height: 250px;
}

.display-4 {
  font-family: 'Bebas Neue';
  font-size: 100px;
  text-align: center;
}

.lead {
  font-family: 'Open Sans';
  text-align: center;
}

/* CHART STYLES */
.container-d3 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 0px;
  margin-left: 0px;
}

.tick {
  font-size: 15px;
  font-family: 'Open Sans';
}

/* FOOTER */
.page-footer {
  margin-top: 50px;
  background-color: lightgray;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
  .display-4 {
    font-size: 60px;
  }

  .lead {
    font-size: 15px;
    margin-left: 20px;
  }
}
