body {
  font: 16px sans-serif;
}

.chart-title {
    padding-left: 20px;
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

.dv-container {
  padding: 0;
  height: 100%;
}

.dv-pie-background {
  fill: #f4f4f4;
}

.dv-pie-slice {
  fill: #d2d2d2;
}

.dv-fill-odd {
  fill: #e2e2e2;
}

.dv-fill-even {
  fill: #d2d2d2;
}

.dv-extent-max {
  fill: darkgreen;
}

/* d3-tip */
.d3-tip {
  font-size: 11px;
  line-height: 1.25;
  padding: 6px 8px;
  background-color: #f7f7f7;
  color: #555;
  border-radius: 6px;
  pointer-events: none;
  box-shadow: 3px 4px 0.5px rgba(0,0,0,0.15);
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #f7f7f7;
  position: absolute;
  pointer-events: none;
  text-shadow: 3px 4px 0.5px rgba(0,0,0,0.15);
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

.tip-metric-li {
  list-style: none;
  margin: 0;
  padding: 0.25rem 0.25rem 0 0.25rem;
}
.tip-metric-label {
  font-size: 0.55rem;
  line-height: 1.25;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #999;
  margin: 0;
  padding: 0;
}
.tip-metric-value {
  font-size: 0.8rem;
  line-height: 1.25;
  font-weight: 400;
  color: darkgreen;
  margin: 0;
  padding: 0;
}

/* Horizontal bars */
.progressText {
  font-family: 'Montserrat';
}
 .progress {
	 border-radius: 0;
	 overflow: visible;
}
 .progress-bar {
	 background: gold;
	 -webkit-transition: width 1.5s ease-in-out;
	 transition: width 1.5s ease-in-out;
   font-size: 15px;
}
